@import url("./vendor/normalize.css");
@import url("./vendor/fonts/fonts.css");

:root {
  --main-bg: rgb(250, 250, 250);
  --header-bg: #ffffff;
  --main-text: #111517;
  --close: url("./images/icons/close-light.png");
  --arrow-down: url("./images/icons/arrow-down-light.svg");
  --arrow-back: url("./images/icons/back-light.svg");
}
